---
#
# This playbook installs and configures the initial setup for any Ubuntu machine.
#
- name: Install and configure initial setup
  hosts: all
  gather_facts: no
  become: yes
  tasks:
    - name: Check if tailscale is installed
      command: dpkg -s tailscale
      register: tailscale_package_status
      ignore_errors: true
      changed_when: false

    - name: Update apt cache
      apt:
        update_cache: yes
      changed_when: false

    - name: Get Tailscale installed and candidate versions
      shell: apt-cache policy tailscale
      register: tailscale_policy
      changed_when: false
      when: tailscale_package_status.rc == 0

    - name: Set Tailscale version facts
      set_fact:
        tailscale_installed: "{{ tailscale_policy.stdout | regex_search('Installed: (.*)', '\\1') | first }}"
        tailscale_candidate: "{{ tailscale_policy.stdout | regex_search('Candidate: (.*)', '\\1') | first }}"
      when: tailscale_package_status.rc == 0

    - name: Asynchronously update Tailscale to prevent SSH connection drop
      apt:
        name: tailscale
        state: latest
      async: 60
      poll: 0
      when:
        - tailscale_package_status.rc == 0
        - tailscale_installed != tailscale_candidate

    - name: Update and upgrade apt packages
      apt:
        upgrade: yes
      register: apt_result
      until: apt_result is success
      retries: 10
      delay: 10

    - name: Install essential packages
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - apt-transport-https
        - apt-utils
        - asciinema
        - build-essential
        - ca-certificates
        - coreutils
        - csvkit
        - curl
        - fontconfig
        - git
        - git-crypt
        - gnupg
        - htop
        - iotop
        - iputils-ping
        - jq
        - lsb-release
        - mc
        - mtr
        - ncdu
        - net-tools
        - neovim
        - pandoc
        - rsync
        - software-properties-common
        - stow
        - tmux
        - unzip
        - wget
        - whois
        - zip

    - name: Set Neovim as default editor
      alternatives:
        name: editor
        path: /usr/bin/nvim

    - name: Configure hushlogin
      copy:
        content: ""
        dest: "~/.hushlogin"
      become: no
