---
#
# This playbook installs and configures the initial setup for any Ubuntu machine.
#
- name: Install and configure initial setup
  hosts: all
  gather_facts: no
  become: yes
  tasks:
    - name: Update and upgrade apt packages
      apt:
        update_cache: yes
        upgrade: yes

    - name: Install essential packages
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - apt-transport-https
        - apt-utils
        - asciinema
        - build-essential
        - ca-certificates
        - coreutils
        - csvkit
        - curl
        - fontconfig
        - git
        - git-crypt
        - gnupg
        - htop
        - iotop
        - iputils-ping
        - jq
        - lsb-release
        - mc
        - mtr
        - ncdu
        - net-tools
        - neovim
        - pandoc
        - rsync
        - software-properties-common
        - stow
        - tmux
        - unzip
        - wget
        - whois
        - zip

    - name: Set Neovim as default editor
      alternatives:
        name: editor
        path: /usr/bin/nvim

    - name: Configure hushlogin
      copy:
        content: ""
        dest: "~/.hushlogin"
      become: no
