---
#
# This playbook installs and configures shell customizations for Ubuntu.
#
- name: Install and configure shell customizations
  hosts: all
  gather_facts: no
  become: yes
  tasks:
    - name: Installing and set Z Shell (zsh) as default shell
      block:
        - name: Install zsh
          apt:
            name: zsh
            state: present
            update_cache: yes

        - name: Set zsh as default shell
          user:
            name: "{{ ansible_user }}"
            shell: /bin/zsh
      tags: zsh

    - name: Installing and configure Oh-My-Zsh
      block:
        - name: Check if Oh-My-Zsh is installed
          stat:
            path: "~/.oh-my-zsh"
          register: ohmyzsh_installed
          become: no

        - name: Installing Oh-My-Zsh
          shell: RUNZSH=no CHSH=no sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
          when: not ohmyzsh_installed.stat.exists
          become: no

        - name: Install required plugins
          block:
            - name: Check if zsh-autosuggestions plugin is installed
              stat:
                path: "~/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
              register: zsh_autosuggestions_installed
              become: no

            - name: Installing zsh-autosuggestions plugin
              git:
                repo: https://github.com/zsh-users/zsh-autosuggestions
                dest: "~/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
                version: master
              when: not zsh_autosuggestions_installed.stat.exists
              become: no

            - name: Check if zsh-syntax-highlighting plugin is installed
              stat:
                path: "~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
              register: zsh_syntax_highlighting_installed
              become: no

            - name: Installing zsh-syntax-highlighting plugin
              git:
                repo: https://github.com/zsh-users/zsh-syntax-highlighting
                dest: "~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
                version: master
              when: not zsh_syntax_highlighting_installed.stat.exists
              become: no
      tags: ohmyzsh

    - name: Installing and configure Starship prompt
      block:
        - name: Check if Starship prompt is installed
          stat:
            path: "/usr/local/bin/starship"
          register: starship_installed
          become: no

        - name: Install Starship prompt
          shell: sh -c "$(curl -fsSL https://starship.rs/install.sh) "  -- -y
          args:
            executable: /bin/zsh
          when: not starship_installed.stat.exists
      tags: starship
